<div>
        
    {% for service in services %}
    <div>
        {% if request.user == service.host %}
        <a href="{% url 'update-service' service.id %}">Edit</a>
        <a href="{% url 'delete-service' service.id %}">Delete</a>
        {% endif %}

        <a href="{% url 'user-profile' service.host.id %}">@{{service.host.username}}</a>
        <h3>{{service.id}} -- <a href="{% url 'service' service.id %}">{{service.name}}</a></h3>
        <small>{{service.topic.name}}</small>
        <hr>
    </div>

    {% endfor %}
</div>