{% extends 'NinazHairline/main.html' %}
{% load socialaccount %}

<link rel="stylesheet" href="NinazHairline/styles.css"></link>
{% block content %}
<h1>Welcome to Ninaz-Hairline Homepage</h1>
<h5>We serve you best on Hairs and Make-Ups<br>Checkout our services please:</h5>

<div>

    <div>
        {% for service in services %}
            <div>
                <h4>{{service.id}} -- <a href="/service/{{service.id}}">{{service.name}}</a></h4>
            </div>

        {% endfor %}
    </div>

</div>




<h4>
    <a href="{% provider_login_url 'google' %}">Click here to create account</ha>
</h4>

{% endblock content %}






